<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <hr>
    <a href="/admin/articles/new" class="btn btn-success">Novo Artigo</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">Editar</a>
                        <form method="POST" action="/articles/delete" style="display:inline">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger btn-sm">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ("../../partials/footer.ejs") %>
